<h1><%= @client.name %></h1>
<h3><%= @client.content %></h3>
<br>
<h3><%= link_to 'Edit', edit_client_path %></h3>
<h3><%= link_to 'Delete', client_path(@client),
                method: :delete, data: { confirm: 'Are you sure?' } %>
</h3>
<h3><%= link_to 'Back', clients_path %></h3>
